* {
    padding: 0;
    margin: 0;
}

header {
    background-color: grey;
}

.container {
    display: flex;

}


.container h1 {
    margin: 1rem;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    font-family: Heebo; font-weight: 600; 
    font-size: 3rem;


}

.container h3 {
    text-transform: uppercase;
    margin: 1rem;
    flex-wrap: wrap;
    position: fixed;
    font-family: Heebo; font-weight: 600;
}

.menu {
    display: flex;
    margin: 1rem;
    flex-grow: 1;
    justify-content: center;
    
}

.menu li {
    display: inline;
}
.menu li a {
   text-decoration: none;
   text-transform: uppercase;
   margin: 1rem;
   font-family: Heebo; font-weight: 100; 
   color: black;

}


body {
    background-image: url(/images/dave-m5oOq4iyaeQ-unsplash.jpg);
    height: 1080;
    width: 1920;
    background-size: cover;    
}