* {
    padding: 0;
    margin: 0;
}

header {
    background-color: grey;
}

.container {
    display: flex;

}


.container h1 {
    margin: 1rem;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;

}

.container h3 {
    text-transform: uppercase;
    margin: 1rem;
    flex-wrap: wrap;
    position: fixed;
}

.menu {
    display: flex;
    margin: 1rem;
    flex-grow: 1;
    justify-content: center;
}

.menu li {
    display: inline;
    gap: 4rem;
}
.menu li a {
   text-decoration: none;
   text-transform: uppercase;
   margin: 1rem;

}
